@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root{
  --bg-color: #222223;
  --apricot-white: #FFFEEC;
  --lavender: #BCB4FF;
}

/* *:focus{
  outline: none;
} */

body{
  font-family: "Raleway", sans-serif;
  background-color: var(--bg-color);
}

.app-container{
  max-width: 730px;
  width: 100%;
  margin: auto;
  height: auto;
  border: 1px solid var(--apricot-white);
  margin-top: 20px;
}

input::-webkit-search-cancel-button {
  display: none;
}


input[type="search"]::-moz-search-clear-button {
  display: none;
}

.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.search-div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#input-search{
  width: 399px;
  height: 40px;
  padding: 9px 13px;
  border-radius: 20px;
  border: none;
  color: var(--bg-color);
  font-size: 1rem;
}

#input-search:focus{
  outline: 3px solid var(--lavender);
}

#search-btn{
  padding: 9px 13px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  color: var(--apricot-white);
  background-color: var(--lavender);
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

#search-btn:hover{
  background-color: var(--apricot-white);
  border: 2px solid var(--lavender);
  color: var(--lavender);
}

/* ingreadients container */
.ingredients-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ingredients-container h1{
  text-align: left;
  color: var(--lavender);
  margin-bottom: 10px;
}

.ingredients-container ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ingredients-container li{
  color: var(--apricot-white);
  font-size: 1.2rem;
}

.ingredients-container li::marker{
  color: var(--lavender);
  font-size: 1.2rem;
}

/* recipe container */
.recipe-container{
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.empty{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.empty h2{
  color: var(--lavender);
  font-size: 3rem;
}